<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HDT.Plugins.Advisor.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <HDT.Plugins.Advisor.Properties.Settings>
      <setting name="AutoArchiveArchetypes" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DeletePreviouslyImported" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShortenDeckNames" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OverlayPositionX" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="OverlayPositionY" serializeAs="String">
        <value>134</value>
      </setting>
      <setting name="ActivateInRanked" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ActivateInCasual" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ActivateInFriendly" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ActivateInSpectator" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ActivateInArena" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ActivateInBrawl" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ActivateInPractice" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CheckForUpdates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ActivateInStandard" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ActivateInWild" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OverlayScaling" serializeAs="String">
        <value>70</value>
      </setting>
      <setting name="OverlayOpacity" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="ShowStatistics" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowAbsoluteSimilarity" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MinimumSimilarity" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ShowNonMatchingCards" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RemovePlayedCards" serializeAs="String">
        <value>True</value>
      </setting>
    </HDT.Plugins.Advisor.Properties.Settings>
  </userSettings>
</configuration>